#listviewtable td {width:400px;
    border:1px solid black;
    font-family: Arial, sans-serif;
    text-align:center;}
#header {font-weight:bold;}
#listviewtable {border-collapse:collapse;margin:50px;}
h1,td,p,h3,label {
    font-family: Arial, sans-serif;
}
h1 {margin:10px}
button {height:20px;width:100px}

.collapsed {visibility:collapse;}

.hidden {visibility:hidden;}