<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kanban View</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
    <script type="module" src="/static/global.js"></script>
    <script type="module" src="/static/kanbanview.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/kanbanview.css">
    <link rel="stylesheet" type="text/css" href="/static/universal.css">
</head>
<body>

    <div class = "tabs">
        <button class = "menu"><a href="http://127.0.0.1:8000/listview">List View</a></button>
        <button class = "menu" id="showtasks">Add Task</button>
        <button class = "menu last"><a href="http://127.0.0.1:8000/categorymaker">Add Category</a></button>
    </div>

	<h1>Kanban View</h1>

    <p>Welcome to the Kanban view. Here you can see all your tasks on cards sorted by their status.</p>
    <p>To edit a task, double click its card. To change the status of a task, drag it to the column of the new status. It may be necessary to drop it above another card. To add a task, click the button in the menu bar.</p>
    <p>To filter tasks, use the filter bar to select the task name, status, or category you want to filter by. You can also filter for the tasks that are currently applicable, for which the current date is after their start date and before their due date.</p>

    <h3>Filter:</h3>

    <div class = "filterbar">
        <label class = "filt">Task Name: </label><input class = "filt" id="namefilter" value = "None" style="width:150px">
        <label class = "filt">Status: </label><select class = "filt" id = "statfilter" style="width:150px"><option value = "N/A">N/A</option><option value = "Not started">Not Started</option>
        <option value = "In Progress">In Progress</option><option value = "Complete">Complete</option></select>
        <label class = "filt">Current?</label><select class = "filt" id = "currentfilt" style="width:100px"><option value = None>None</option><option value = "Yes">Yes</option></select>
        <label class = "filt">Category: </label><select class = "filt" id = "catfilt" style="width:100px"></select>
        <button class = "filt" id = "filter_button">Filter</button>
        <button class = "filt last" id="reset_button">Reset Filter</button>
    </div>

<p> </p> {# This solves a big formatting problem by creating a space between the filter and the first column #}
    <div id = "addtask">
        <h3>Add Task</h3>
        <table>
            <tr style="visibility:collapse"><td>Task ID:</td><td><input id="taskid" style="width:150px"></td></tr>
            <tr><td>Task Name:</td><td><input id = "taskname" style="width:150px"></td></tr>
            <tr><td>Description:</td><td><input id = "taskdesc" style="width:150px"></td></tr>
            <tr><td>Start Date:</td><td><input id = "startdate" style="width:150px"></td></tr>
            <tr><td>Due Date:</td><td><input id = "duedate" style="width:150px"></td></tr>
            <tr><td>Categories:</td><td><select id = "cats" style="width:150px"></select></td></tr>
            <tr><td>Progress:</td><td><input id = "prog" style="width:150px"></td></tr>
            <tr><td>Status:</td><td><select id = "stat" style="width:150px"><option value = "Not started">Not Started</option>
            <option value = "In Progress">In Progress</option><option value = "Complete">Complete</option></select></td></tr>
        </table>
        <button id = "add">Add Task</button>
        <button id = "edit">Edit Task</button>
        <button id = "cancel_addedit">Cancel Add/Edit Task</button>
    </div>
    {#http://orangeloops.com/2016/07/how-to-create-a-kanban-board-with-jquery/#}

    <div class = "container" id = "Not Started">
        <h2>Not started</h2>
        <ul class = "sortable connectedSortable" id = "Not_Startedul">
{#            Here there will be cards added#}
        </ul>
    </div>

    <div class = "container" id = "In Progress">
        <h2>In Progress</h2>
        <ul class = "sortable connectedSortable" id = "In_Progressul">
{#            Here there will be cards added#}
        </ul>
    </div>

    <div class = "container" id = "Complete">
        <h2>Completed</h2>
        <ul class = "sortable connectedSortable" id = "Completeul">
            {#            Here there will be cards added#}
        </ul>
    </div>
</body>
</html>